node_modules
\.idea/
\.vs/

*.wasm

runtime/tests/out/
runtime/tests/nearcore/
runtime/out/
package-lock.json
tests/package-lock.json
yarn-error.log

tests/out/test.wasm
wasm-mock-vm/

.DS_Store

docs/
**/*/tsconfig.tsbuildinfo*

out/
**/out/
build/

!runtime/node_modules
!near-mock-vm/pkg/*.wasm
sim-ffi/sim-ffi/target/

sim-ffi/sim-ffi/index.node
