node_modules
\.idea/
assembly/__tests__/as-pect.d.ts

*.wasm

runtime/tests/out/
runtime/tests/nearcore/

package-lock.json
tests/package-lock.json
yarn-error.log

tests/out/test.wasm
wasm-mock-vm/

.DS_Store
