node_modules
\.idea/

*.wasm

runtime/tests/out/
runtime/tests/nearcore/
runtime/out/
package-lock.json
tests/package-lock.json
yarn-error.log

tests/out/test.wasm
wasm-mock-vm/

.DS_Store

docs/
**/*/tsconfig.tsbuildinfo*
