test.sh
tsconfig.json
nearcore-tests/
assembly/__tests__
**/*/out/
bindgen/src
bindgen/out
bindgen/asconfig.js
bindgen/test.js
runtime/dist/tsconfig.tsbuildinfo
**/*/__tests__
near-mock-vm/vm/tests/
near-mock-vm/Cargo.*
near-mock-vm/vm/src/
near-mock-vm/src/
!sdk/assembly/vm/__tests__/vm.include.ts
